/twitter-hatespeech-master.zip
/vectors300.txt
/WH_dataset_withText
/WH_dataset_withText_save
/SexisteDetectionNB.ipynb
/SexisteDetectionNB-Copy1.ipynb
/NAACL_SRW_2016.csv
/NLP+CSS_2016.csv
/benevolent_sexist.tsv
/HS_dataset_withText.csv
/lstm_embed.npy
/lstm_model.mod
/BS_dataset_withText.csv
